{% extends "base.html" %}
{% block page_name %}
    People Detail
 {% endblock page_name %}
{% block content %}
    <div>
        <div class="h-64 bg-cover bg-center rounded-lg mb-2 " style="background-image: url({{person.photo.url}});"></div>
	<div class="text-xl mb-8">{{person.name}}<a class="bg-blue-400 hover:bg-blue-600 text-white ml-2 py-2 px-3 rounded" href="{% url 'people:create' %}">[edit]</a></div>

  <h5 class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{person.kind}}</h5>
</div>


{% endblock content %}