{% extends "base.html" %}

{% block content %}
  <h2>People</h2>
      <div>
    <h1><a href="{% url 'people:person_create'%}">Create</a></h1>
</div>
  {% for person in people %}
            <div class="w-full h-64 bg-cover bg-center rounded-lg " style="background-image: url({{book.cover_image}});"></div>
      <span class="text-sm text-gray-600 block truncate">
<a href="{% url "people:person_detail" person.pk %}">{{person.name}}</a>
          {{person.kind}}</span>
  {% endfor %}

        <div class="flex items-center justify-center mx-auto container">
             {% if page_obj.has_previous %}
                 <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                     <i class="fas fa-arrow-left fa-lg"></i>
                 </a>
             {% endif %}

             <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

             {% if page_obj.has_next  %}
                 <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                     <i class="fas fa-arrow-right fa-lg"></i>
                 </a>
             {% endif %}
        </div>
{% endblock content %}