{% extends "base.html" %}

{% block page_title %}
  People
{% endblock page_title %}

{% block content %}
<div>
  <h2 class="ml-1 text-3xl text-blue-600">People</h2>
  <div class="flex flex-wrap">
  {% for person in people %}
  <div class="w-1/5 h-48 rounded shadow-lg p-2">
    <h3 class="text-gray-900 text-base mb-2"><a href="{% url 'people:detail' person.pk %}">{{person.name}}</a></h3>
    <h5 class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{person.kind}}</h5>
  </div>
  {% endfor %}
  </div>
<hr />
</div>
<div class="mt-2 flex justify-center">
  <div>
  {% if page_obj.has_previous %}
        <a class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded" href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    <span class="font-bold text-blue-600">
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </span>

    {% if page_obj.has_next  %}
        <a class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded" href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
  </div>
</div>
{% endblock content %}