{% extends "base.html" %}

{% block content %}
<div>
  <h2>Movies</h2>
  {% for movie in movies %}
  <div>
    <h3>{{movie.title}}</h3>
    <h5>{{movie.year}}</h5>
  </div>
  {% endfor %}
  <a href="{% url 'movies:movies' %}">See all movies &rarr;</a>
<hr />
</div>



<div>
  <h2>Books</h2>
  {% for book in books %}
  <div>
    <h3>{{book.title}}</h3>
    <h5>{{book.year}}</h5>
  </div>
  {% endfor %}
  <a href="{% url 'books:books' %}">See all books &rarr;</a>
<hr />
</div>

<div>
  <h2>People</h2>
  {% for person in people %}
  <div>
    <h3>{{person.name}}</h3>
    <h5>{{person.kind}}</h5>
  </div>
  {% endfor %}
  <a href="{% url 'people:people' %}">See all people &rarr;</a>
<hr />
<div>
{% endblock content %}